body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0px;
}

h1 {
  margin: 0;
  padding: 10px;

}

header {
  background-color: #3498db;
  color: white;
}

.reservation-form {
  background-color: #3498db;
  color: white;
}

button {
  background-color: #0008ee;
  color: white;
}
