body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0px;
}

h1 {
  margin: 0;
  padding: 10px;
}

header {
  background-color: #3498db;
  color: white;
}

.room {
  display: inline-block;
  width: 350px;
  height: 335px;
  background-color: white;
  margin-left: 15px;
  margin-top: 15px;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 10px;
  text-align: left;
}

.room img {
  height: 180px;
  width: 340px;
  border-radius: 10px;
}

.priceTable{
  margin-top: 60px;
  margin-bottom: 30px;
}

table {
  margin: auto;
  width: 1250px;
  border-collapse: collapse;
}

thead {
  background-color: #3498db;
  color: white;
  height: 30px;
  font-weight: bolder;
  
}

th{
  border: 1px solid rgb(238, 238, 238);
  
}

td{
  background-color: white;
  height: 35px;
  border: 1px solid rgb(218, 218, 218);
  
}

.reservation-form {
  background-color: #3498db;
  color: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  text-align: center;
}

input {
  margin-bottom: 8px;
  width: 99%;
  padding: 4px;
  border-radius: 4px;
  border: 0px solid white;
}

button {
  background-color: #0008ee;
  color: white;
  padding: 6px 10px;
  border: 0px solid #0008ee;
  border-radius: 6px;
}
