body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0px;
}

h1 {
  margin: 0;
  padding: 10px;
}

header {
  background-color: #3498db;
  color: white;
}

article{
  width: 350px;
  height: 335px;
  background-color: white;
  margin-left: 15px;
  margin-top: 15px;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 10px;
}

article h2{
  text-align: left;
}

article p{
  text-align: left;
  
}

article img {
  height: 180px;
  width: 340px;
  border-radius: 10px;
}

.reservation-form {
  background-color: #3498db;
  color: white;
}

button {
  background-color: #0008ee;
  color: white;
}
